In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv('C:/Users/siddh/Desktop/Data Science Pratice/DS_Salary_Predictor/scrapped_data.csv')

In [4]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Science Manager,$97K-$157K (Glassdoor Est.),Thank you for your interest in joining our tea...,3.5,CGB Enterprises\n3.5,"New Orleans, LA","Covington, LA",1001 to 5000 employees,1969,Company - Private,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable,"Bunge North America, Gavilon, The Andersons"
1,"VP, Data Science",$97K-$157K (Glassdoor Est.),"We are looking for a VP, Data Science to lead ...",3.9,7Park Data\n3.9,"New York, NY","New York, NY",51 to 200 employees,2012,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,-1
2,People Data Science and Analytics Lead,$97K-$157K (Glassdoor Est.),Location: Remote\n\n\nCoinbase has built the w...,4.0,Coinbase\n4.0,Remote,"San Francisco, CA",501 to 1000 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
3,Data Science Intern,$97K-$157K (Glassdoor Est.),"Fullpower® designs, develops and operates a co...",4.5,"Fullpower Technologies, Inc.\n4.5","Santa Cruz, CA","Santa Cruz, CA",51 to 200 employees,2003,Company - Private,Computer Hardware & Software,Information Technology,₹1 to ₹5 billion (INR),-1
4,Quality Systems Data Science Engineer,$97K-$157K (Glassdoor Est.),It is our people behind life’s passions who wi...,3.7,Mercury Marine\n3.7,"Fond du Lac, WI","Fond du Lac, WI",1001 to 5000 employees,1939,Company - Public,Consumer Products Manufacturing,Manufacturing,₹100 to ₹500 billion (INR),"Harley-Davidson, Inc., Oshkosh Corporation, Ko..."

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
Job Title            500 non-null object
Salary Estimate      500 non-null object
Job Description      500 non-null object
Rating               500 non-null float64
Company Name         500 non-null object
Location             500 non-null object
Headquarters         500 non-null object
Size                 500 non-null object
Founded              500 non-null int64
Type of ownership    500 non-null object
Industry             500 non-null object
Sector               500 non-null object
Revenue              500 non-null object
Competitors          500 non-null object
Min_Salary           500 non-null int64
Max_Salary           500 non-null int64
Average_Salary       500 non-null float64
dtypes: float64(2), int64(3), object(12)
memory usage: 66.5+ KB

In [11]:
# Clean salary 
# Removing 'Glassdooor Est'
salary=df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [18]:
salary=salary.apply(lambda x: x.replace('K','').replace('$',''))

In [25]:
df['Min_Salary']=salary.apply(lambda x: int(x.split('-')[0]))

In [26]:
df['Max_Salary']=salary.apply(lambda x: int(x.split('-')[1]))

In [27]:
df['Average_Salary']=(df['Min_Salary']+df['Max_Salary'])/2

In [55]:
# Clean company name 
df['Company Name']=df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-4],axis='columns')

In [59]:
# Change Age (Founded)
df['Company Age']=df['Founded'].apply(lambda x:x if x<0 else 2020-x)

In [84]:
# Clean location by city and state 
df['Job_State']=df['Location'].apply(lambda x:x if len(x.split(', '))==1 else x.split(', ')[1])

In [92]:
#parsing of job description (python, etc.)

#python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
 
#r studio 
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

0    268
1    232
Name: excel, dtype: int64

In [94]:
df.to_csv('C:/Users/siddh/Desktop/Data Science Pratice/DS_Salary_Predictor/salary_data_cleaned.csv',index = False)